<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot = "start">
      <ion-back-button defualtHref="/login/"></ion-back-button>
    </ion-buttons>
    <ion-title>Curriculum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="openurlice()" expand = 'block' fill = "outline" ><ion-icon slot = "start" ></ion-icon>ICE</ion-button>
    <ion-button (click)="openurladme()" expand = 'block' fill = "outline" ><ion-icon slot = "start" ></ion-icon>ADME</ion-button>
    <ion-button (click)="openurlaero()" expand = 'block' fill = "outline" ><ion-icon slot = "start" ></ion-icon>AERO</ion-button>
    <ion-button (click)="openurlnano()" expand = 'block' fill = "outline" ><ion-icon slot = "start" ></ion-icon>NANO</ion-button>
    <ion-button (click)="openurlai()" expand = 'block' fill = "outline" ><ion-icon slot = "start" ></ion-icon>AI</ion-button>
    
</ion-content>
