<head>
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
</head>
<ion-header>
    
  <ion-toolbar>
    <ion-title color = "primary" position = "floating" size="large">
      
    </ion-title>
    <ion-img src='../assets/graderlogo.png'></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-button expand = 'block' fill = "outline" routerLink="/login/" routerDirection = 'forward' ><ion-icon name="rocket"></ion-icon>Get Started</ion-button> 
  <ion-button expand = 'block' fill = "outline" routerLink="/calculator/" routerDirection = 'forward'><ion-icon name="calculator"></ion-icon>Grade Calculator</ion-button>
  <ion-button expand = 'block' fill = "outline" routerLink="/faq/" routerDirection = 'forward'><ion-icon name="help"></ion-icon>FAQ</ion-button>

 
<!--<ion-button (click) = "get4()" expand = "block" >get data</ion-button>
<ion-button (click) = "Alert()" expand = "block" >alert</ion-button>
<ion-button (click) = "getid()" expand = "block" >get id</ion-button>-->

  

</ion-content>



