<ion-header>
  <ion-toolbar color = "primary" >
    <ion-title size-lg = "12" >Get Started</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Enter information</ion-card-title>
    </ion-card-header>
  
  <ion-item>
    <ion-label position = "floating" >Enter your student ID</ion-label>
    <ion-input clearInput type = "text" [(ngModel)] = "username" placeholder="Enter Input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position = "floating" >Enter your current GPAX</ion-label>
    <ion-input type = "number" min = "0" max = "4" [(ngModel)] = "gpax" placeholder="Enter GPAX"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position = "floating" >Total credit taken(including W)</ion-label>
    <ion-input (input)="gotChar($event)" type = "number" min = "0" [(ngModel)] = "credit" placeholder="Enter credits"></ion-input>
  </ion-item>


  <div class="center" *ngIf="checker">
  <ion-item>

      <ion-label position = "floating" >Number of courses(credit 1) taken</ion-label>
      <ion-input type = "number" min = "0" max = "10" [(ngModel)] = "credit1" placeholder="Enter credit"></ion-input>
      <ion-label position = "floating" >Number of courses(credit 2) taken</ion-label>
      <ion-input type = "number" min = "0" max = "10" [(ngModel)] = "credit2" placeholder="Enter credit"></ion-input>
      <ion-label position = "floating" >Number of courses(credit 3) taken</ion-label>
      <ion-input type = "number" min = "0" max = "45" [(ngModel)] = "credit3" placeholder="Enter credit"></ion-input>
      <ion-label position = "floating" >Number of courses(credit 4) taken</ion-label>
      <ion-input type = "number" min = "0" max = "15" [(ngModel)] = "credit4" placeholder="Enter credit"></ion-input>
      <ion-label position = "floating" >Number of courses(credit 6) taken</ion-label>
      <ion-input type = "number" min = "0" max = "5" [(ngModel)] = "credit6" placeholder="Enter credit"></ion-input>
      <ion-label position = "floating" >Number of courses(credit 9) taken</ion-label>
      <ion-input type = "number" min = "0" max = "5" [(ngModel)] = "credit9" placeholder="Enter credit"></ion-input>
   

  </ion-item>

  </div>
  

  <ion-list-header>Have you withdrawn any courses?</ion-list-header>

  <ion-item>
    
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)] = "withdrawn">
    <ion-segment-button (click)="onButtonClickYes()" value="yes">
      <ion-label>Yes</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="onButtonClickNo()" value="no">
      <ion-label>No</ion-label>
    </ion-segment-button>
  </ion-segment>

  </ion-item>

  
  <div class="center" *ngIf="buttonClicked">
      <!-- <ion-item>
      <ion-label position = "floating" >Enter number of credit withdrawn</ion-label>
      <ion-input type = "number" min = "0" [(ngModel)] = "creditWithdrawn" 
      placeholder="Enter credits withdrawn"></ion-input>
    </ion-item> -->
    
    <ion-list-header>Number of courses with credit 1 you have W</ion-list-header>


    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)] = "withdrawn1">
      <ion-segment-button  value="0">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="1">
        <ion-label>1</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="2">
        <ion-label>2</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="3">
        <ion-label>3</ion-label>
      </ion-segment-button>
    </ion-segment>



    <ion-list-header>Number of courses with credit 2 you have W</ion-list-header>


    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)] = "withdrawn2">
      <ion-segment-button  value="0">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="1">
        <ion-label>1</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="2">
        <ion-label>2</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="3">
        <ion-label>3</ion-label>
      </ion-segment-button>
    </ion-segment>


  
 

    <ion-list-header>Number of courses with credit 3 you have W</ion-list-header>


    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)] = "withdrawn3">
      <ion-segment-button  value="0">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="1">
        <ion-label>1</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="2">
        <ion-label>2</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="3">
        <ion-label>3</ion-label>
      </ion-segment-button>
    </ion-segment>


  

  

    <ion-list-header>Number of courses with credit 4 you have W</ion-list-header>


    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)] = "withdrawn4">
      <ion-segment-button  value="0">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="1">
        <ion-label>1</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="2">
        <ion-label>2</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="3">
        <ion-label>3</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list-header>Number of courses with credit 6 you have W</ion-list-header>


    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)] = "withdrawn6">
      <ion-segment-button  value="0">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="1">
        <ion-label>1</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="2">
        <ion-label>2</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="3">
        <ion-label>3</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list-header>Number of courses with credit 9 you have W</ion-list-header>


    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)] = "withdrawn9">
      <ion-segment-button  value="0">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="1">
        <ion-label>1</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="2">
        <ion-label>2</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="3">
        <ion-label>3</ion-label>
      </ion-segment-button>
    </ion-segment>


  </div>




  <ion-item>
      
      <ion-label>Year</ion-label>
      <ion-select [(ngModel)] = "year" placeholder="Select One">
        <ion-select-option value="1st">Freshman</ion-select-option>
        <ion-select-option value="2nd">Sophomore</ion-select-option>
        <ion-select-option value="3rd">Junior</ion-select-option>
        <ion-select-option value="4th">Senior</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item>
      
    <ion-label>Semester</ion-label>
      <ion-select [(ngModel)] = "semester" placeholder="Select One">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
      </ion-select>

  </ion-item>


  <ion-item>
      
    <ion-label>Major</ion-label>
      <ion-select [(ngModel)] = "major" placeholder="Select One">
        <ion-select-option value="ICE">ICE</ion-select-option>
        <ion-select-option value="ADME">ADME</ion-select-option>
        <ion-select-option value="AERO">AERO</ion-select-option>
        <ion-select-option value="NANOb">NANO BIO</ion-select-option>
        <ion-select-option value="NANOm">NANO MAT</ion-select-option>
        <ion-select-option value="AI">AI</ion-select-option>
      </ion-select>

  </ion-item>

 
    </ion-card>

    <ion-button (click) = "submit()" expand = "block" id = "btn-add"><ion-icon name="send"></ion-icon>Submit</ion-button>

     <ion-button expand = 'block' routerLink="/" routerDirection = 'back'><ion-icon slot = "start" name = "home"></ion-icon>Home</ion-button> 


</ion-content>


