<ion-header>
  <ion-toolbar>
    <ion-title size-lg = "12" color = "tertiary">Get started</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Enter information</ion-card-title>
    </ion-card-header>
  
  <ion-item>
      <ion-label position = "floating" >Create unique username</ion-label>
      <ion-input type = "text" [(ngModel)] = "username" placeholder="Enter Input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position = "floating" >Enter your current GPAX</ion-label>
    <ion-input type = "number" min = "0" max = "4" [(ngModel)] = "gpax" placeholder="Enter GPAX"></ion-input>
</ion-item>

<ion-item>
  <ion-label position = "floating" >Enter number of credit taken</ion-label>
  <ion-input type = "number" [(ngModel)] = "credit" placeholder="Enter credits"></ion-input>
</ion-item>


  <ion-item>
      
      <ion-label>Year</ion-label>
      <ion-select [(ngModel)] = "year" placeholder="Select One">
        <ion-select-option value="fr">Freshman</ion-select-option>
        <ion-select-option value="so">Sophomore</ion-select-option>
        <ion-select-option value="jr">Junior</ion-select-option>
        <ion-select-option value="sr">Senior</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      
        <ion-label>Major</ion-label>
        <ion-select [(ngModel)] = "major" placeholder="Select One">
          <ion-select-option value="ice">ICE</ion-select-option>
          <ion-select-option value="adme">ADME</ion-select-option>
          <ion-select-option value="aero">AERO</ion-select-option>
          <ion-select-option value="nano">NANO</ion-select-option>
          <ion-select-option value="ai">AI</ion-select-option>
        </ion-select>
      </ion-item>

      


    </ion-card>

    <ion-button (click) = "test()" expand = "block" id = "btn-add">Submit</ion-button>

    <ion-button expand = 'block' routerLink="/" routerDirection = 'back'><ion-icon slot = "start" name = "home"></ion-icon>Home</ion-button> 
</ion-content>

