<ion-header>
  <ion-toolbar color = "dark">
    <ion-title>Calculated</ion-title>
    
    
  </ion-toolbar>
</ion-header>

<ion-content class ='padding'>

  <ion-card *ngIf = "data">

    <ion-card-header>
      <ion-card-title>


        Student ID: {{data.username}}


      </ion-card-title>
      <ion-card-subtitle>
        Current GPAX: {{data.gpax}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Year:  {{data.year}}

      </ion-item>

      <ion-item>
        Major:  {{data.major}}

      </ion-item>
      <ion-item>
        Credits taken(including W):  {{data.credit}}
        
      </ion-item>
      <ion-item>
        Credits withdrawn: {{data.creditWithdrawn}}
      </ion-item>
      <ion-item>
        Credits left: {{creditleft}}
      </ion-item>


    </ion-card-content>


  </ion-card>

  <ion-card *ngIf = 'data.gradecredit1.a1'>
    <ion-card-content>
      <ion-item>
        Expected GPAX: {{data.gpaxDesired}}
      </ion-item>
      <ion-item>
        In order to get the desired GPAX you need:
      </ion-item>
      
      
    </ion-card-content>
  </ion-card>



<ion-card *ngIf = 'data.gradecredit1'>
    <ion-item>
  For credit 1: 
</ion-item>
  <ion-card *ngIf = 'data.gradecredit1.a1'>
      <ion-item>
    Number of courses with A: {{data.gradecredit1.a1}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit1.bp1'>
      <ion-item>
    Number of courses with B+: {{data.gradecredit1.bp1}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit1.b1'>
      <ion-item>
    Number of courses with B: {{data.gradecredit1.b1}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit1.cp1'>
      <ion-item>
    Number of courses with C+: {{data.gradecredit1.cp1}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit1.c1'>
      <ion-item>
    Number of courses with C: {{data.gradecredit1.c1}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit1.dp1'>
      <ion-item>
    Number of courses with D+: {{data.gradecredit1.dp1}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit1.d1'>
      <ion-item>
    Number of courses with D: {{data.gradecredit1.d1}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit1.f1'>
      <ion-item>
    Number of courses with F: {{data.gradecredit1.f1}}
      </ion-item>
  </ion-card>

</ion-card>

<ion-card *ngIf = 'data.gradecredit2'>

  For credit 2:
  <ion-card *ngIf = 'data.gradecredit2.a2'>
      <ion-item>
    Number of courses with A: {{data.gradecredit2.a2}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit2.bp2'>
      <ion-item>
    Number of courses with B+: {{data.gradecredit2.bp2}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit2.b2'>
      <ion-item>
    Number of courses with B: {{data.gradecredit2.b2}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit2.cp2'>
      <ion-item>
    Number of courses with C+: {{data.gradecredit2.cp2}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit2.c2'>
      <ion-item>
    Number of courses with C: {{data.gradecredit2.c2}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit2.dp2'>
      <ion-item>
    Number of courses with D+: {{data.gradecredit2.dp2}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit2.d2'>
      <ion-item>
    Number of courses with D: {{data.gradecredit2.d2}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit2.f2'>
      <ion-item>
    Number of courses with F: {{data.gradecredit2.f2}}
      </ion-item>
  </ion-card>
  
</ion-card>

<ion-card *ngIf = 'data.gradecredit3'>
    <ion-item>

  For credit 3:
    </ion-item>
  <ion-card *ngIf = 'data.gradecredit3.a3'>
      <ion-item>
    Number of courses with A: {{data.gradecredit3.a3}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit3.bp3'>
      <ion-item>
    Number of courses with B+: {{data.gradecredit3.bp3}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit3.b3'>
      <ion-item>
    Number of courses with B: {{data.gradecredit3.b3}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit3.cp3'>
      <ion-item>
    Number of courses with C+: {{data.gradecredit3.cp3}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit3.c3'>
      <ion-item>
    Number of courses with C: {{data.gradecredit3.c3}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit3.dp3'>
      <ion-item>
    Number of courses with D+: {{data.gradecredit3.dp3}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit3.d3'>
      <ion-item>
    Number of courses with D: {{data.gradecredit3.d3}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit3.f3'>
      <ion-item>
    Number of courses with F: {{data.gradecredit3.f3}}
      </ion-item>
  </ion-card>
  
</ion-card>

<ion-card *ngIf = 'data.gradecredit4'>
    <ion-item>

  For credit 4:
    </ion-item>
  <ion-card *ngIf = 'data.gradecredit4.a4'>
      <ion-item>
    Number of courses with A: {{data.gradecredit4.a4}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit4.bp4'>
      <ion-item>
    Number of courses with B+: {{data.gradecredit4.bp4}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit4.b4'>
      <ion-item>
    Number of courses with B: {{data.gradecredit4.b4}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit4.cp4'>
      <ion-item>
    Number of courses with C+: {{data.gradecredit4.cp4}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit4.c4'>
      <ion-item>
    Number of courses with C: {{data.gradecredit4.c4}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit4.dp4'>
      <ion-item>
    Number of courses with D+: {{data.gradecredit4.dp4}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit4.d4'>
      <ion-item>
    Number of courses with D: {{data.gradecredit4.d4}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit4.f4'>
      <ion-item>
    Number of courses with F: {{data.gradecredit4.f4}}
      </ion-item>
  </ion-card>
  
</ion-card>

<ion-card *ngIf = 'data.gradecredit6'>
    <ion-item>
  For credit 6:
    </ion-item>
  <ion-card *ngIf = 'data.gradecredit6.a6'>
      <ion-item>
    Number of courses with A: {{data.gradecredit6.a6}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit6.bp6'>
      <ion-item>
    Number of courses with B+: {{data.gradecredit6.bp6}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit6.b6'>
      <ion-item>
    Number of courses with B: {{data.gradecredit6.b6}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit6.cp6'>
      <ion-item>
    Number of courses with C+: {{data.gradecredit6.cp6}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit6.c6'>
      <ion-item>
    Number of courses with C: {{data.gradecredit6.c6}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit6.dp6'>
      <ion-item>
    Number of courses with D+: {{data.gradecredit6.dp6}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit6.d6'>
      <ion-item>
    Number of courses with D: {{data.gradecredit6.d6}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit6.f6'>
      <ion-item>
    Number of courses with F: {{data.gradecredit6.f6}}
      </ion-item>
  </ion-card>
  
</ion-card>

<ion-card *ngIf = 'data.gradecredit9'>
    <ion-item>
  For credit 9:
    </ion-item>
  <ion-card *ngIf = 'data.gradecredit9.a9'>
      <ion-item>
    Number of courses with A: {{data.gradecredit9.a9}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit9.bp9'>
      <ion-item>
    Number of courses with B+: {{data.gradecredit9.bp9}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit9.b9'>
      <ion-item>
    Number of courses with B: {{data.gradecredit9.b9}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit9.cp9'>
      <ion-item>
    Number of courses with C+: {{data.gradecredit9.cp9}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit9.c9'>
      <ion-item>
    Number of courses with C: {{data.gradecredit9.c9}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit9.dp9'>
      <ion-item>
    Number of courses with D+: {{data.gradecredit9.dp9}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit9.d9'>
      <ion-item>
    Number of courses with D: {{data.gradecredit9.d9}}
      </ion-item>
  </ion-card>
  <ion-card *ngIf = 'data.gradecredit9.f9'>
      <ion-item>
    Number of courses with F: {{data.gradecredit9.f9}}
      </ion-item>
  </ion-card>
  
</ion-card>


<ion-list-header>What is my maximum and minimum grade?</ion-list-header>

<ion-item>
  
  <ion-segment>
  <ion-segment-button (click)="onButtonClick1()" value="max">
    <ion-label>MAX</ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="onButtonClick2()" value="min">
    <ion-label>MIN</ion-label>
  </ion-segment-button>
</ion-segment>

</ion-item>

<div class="center" *ngIf="buttonClicked1">

<ion-item>
  Maximum grade is: {{data.maxgrade}}

</ion-item>

</div>

<div class="center" *ngIf="buttonClicked2">

<ion-item>
  Minimum grade is: {{data.mingrade}}
  
</ion-item>

  </div>



    <ion-button expand = 'block' routerLink="/" routerDirection = 'back'><ion-icon slot = "start" name = "home"></ion-icon>Home</ion-button> 

    
</ion-content>
