<ion-header>
  <ion-toolbar color = "dark">
    <ion-title>calculated</ion-title>
    
    
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf = "data">

    <ion-card-header>
      <ion-card-title>


        Student ID: {{data.username}}


      </ion-card-title>
      <ion-card-subtitle>
        Current GPAX: {{data.gpax}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Year:  {{data.year}}

      </ion-item>

      <ion-item>
        Major:  {{data.major}}

      </ion-item>
      <ion-item>
        Credits taken(including W):  {{data.credit}}
        
      </ion-item>
      <ion-item>
        Credits withdrawn: {{data.creditWithdrawn}}
      </ion-item>
      <ion-item>
        Credits withdrawn1: {{data.withdrawn1}}
        Credits withdrawn2: {{data.withdrawn2}}
        Credits withdrawn3: {{data.withdrawn3}}
        Credits withdrawn4: {{data.withdrawn4}}
        Credits withdrawn6: {{data.withdrawn6}}
        Credits withdrawn9: {{data.withdrawn9}}
      </ion-item>

      <ion-item>
        Credit1 taken: {{data.credit1}}
        Credit2 taken: {{data.credit2}}
        Credit3 taken: {{data.credit3}}
        Credit4 taken: {{data.credit4}}
        Credit6 taken: {{data.credit6}}
        Credit9 taken: {{data.credit9}}
      </ion-item>


    </ion-card-content>


  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        Expected GPAX: {{data.gpaxDesired}}
      </ion-item>
      
      
    </ion-card-content>
  </ion-card>





    <ion-button expand = 'block' routerLink="/" routerDirection = 'back'><ion-icon slot = "start" name = "home"></ion-icon>Home</ion-button> 

</ion-content>
