<ion-header>
  <ion-toolbar>
    <ion-title color = "danger"> Grade Calculator</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>

  <ion-card-header>
    <ion-card-title>
      Enter your information
    </ion-card-title>
  </ion-card-header>
  
  <ion-item>
      <ion-label position = "floating" >Enter your student ID</ion-label>
      <ion-input clearInput type = "text" [(ngModel)] = "username" placeholder="Enter Input"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position = "floating" >Expected GPAX when graduated</ion-label>
      <ion-input type = "number" min = "0" max = "4" [(ngModel)] = "gpaxDesired" placeholder="Enter GPAX"></ion-input>
  </ion-item>

  <ion-button (click) = "fetch()" expand = "block" 
  fill = "outline" ><ion-icon name="jet"></ion-icon>Fetch</ion-button>

  <ion-button (click) = "getdatafromid()" expand = "block" 
  fill = "outline"><ion-icon name="calculator"></ion-icon>Calculate</ion-button>




</ion-card>

    <ion-button expand = 'block' routerLink="/" 
    routerDirection = 'back'><ion-icon slot = "start" name = "home"></ion-icon>Home</ion-button> 

  

</ion-content>
