<ion-header>
  <ion-toolbar color = "primary" >
    <ion-title > <h6>How dose Grader Work ? </h6> </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
  <ion-label>
    This app is available for ISE students freshmen to seniors. First, you need to enter your information with your student ID. After entering information, go to calculate page and fill your student ID and desirable grades to calculate how many A's or B's or C's you need to get.
  </ion-label>

  
</ion-card>
 
</ion-content>

